.profile{
    &__top{
        display: flex;
        &__layer1 {
            width: 100%;
            height: 14vh;
            background-color:  #888DFF;
          }
          
        &__layer2{
            width: 100%;
            margin-left: -100%;
            height: 21vh;
            margin-top: 3.5vh;
            
            border-radius: 50%;
            background-color:  #888DFF;
        }

        &__image{
            width: 100%;
            margin-left: -100%;
            display: flex;
            justify-content: center;
            text-align: center;
            margin-top:11vh;
            &__content{
                width: 25vh;
                height: 25vh;
                border-radius: 50%;
                background: white;   
            }
        }
    }

    &__body{
        margin-top: 5vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 47px;
        color: #29263E;
        &__title{
            margin-right: 5vw;
        }
        div{
            margin-bottom: 2vh;
        }
    }
}